.App {
  background-color: #282c34;
  text-align: center;
  color:whitesmoke;
}

.introBox {
 text-align: center;
 color: whitesmoke;
 text-shadow: white;
 font-size: calc(4px + 2vmin);
 width: 65%;
 padding: 30px;
}

.apiDocsHeader {
  text-align: center;
  color: whitesmoke;
  background-color: #130b46;
  text-shadow: white;
  font-size: calc(4px + 2vmin);
  width: 100%;
  
 }



@media (prefers-reduced-motion: no-preference) {
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(20px + 2vmin);
    color: rgb(165, 11, 11);
  }
}

@keyframes beatingheart 
{
  0%
  {
    transform: scale( 3.5 );
  }
  15%
  {
    transform: scale( 1.8 );
  }
  19%
  {
    transform: scale( 3.5 );
  }

}

#heartbeat {
  animation-name: beatingheart;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-duration: 1.6s;
  
}


.apiDocsContainer {
  width: 90%;
  min-height: 55vh;
  display: flex;
  font-size: calc(4px + 2vmin);
}

a.toggle {
  color: #333333;
  font: 16px helvetica;
  padding: 4px;
}

.apiHeader {
  display: flex;
  flex-direction: row;
  justify-self: flex-start;
  color: #856868;
  background-color: rgb(50, 43, 110);

}
/* holds all below love hub intro */
.opsContainer {
  width: 100%;
  background-color: #130b46;
  font: 12px arial;
  text-align: left;
}

.opsParent {
  padding: 8px;
}

/* just says Developers Guide: */
#opsTitle {
  color: rgb(165, 11, 11);
  text-align: center;
  font-size: calc(25px + 2vmin);
  
}

/* title to each API Love API Flirty and Motivational */
#apiTitle {
  color: white;
  text-shadow: #333333;
  text-align: left;
  font-size: calc(8px + 2vmin);

}


/* this is the whole area below Methods above the next API */
.methodAndTitleContainer {
  background-color: aqua;

}
/*this holds the Method Title Div and the Method Button div */
.methodAndTitle {
  display: flex;
  justify-content: space-between;
}

#methodTitle {
 color: rebeccapurple;
 font-size: 15px;
 padding: 5px;
}

/* this holds the URL and the Button */
.methodBox {
 display: flex;
 align-items: center;
}

/* this holds the URL. Just a white box sitting next to the button */
.methodBoxURL {
 
 background-color:white;
 color: black;
 width: 45vh;
 height: 3vh;
 padding: 2px;
}

#button {

  padding: auto;
  height: 3.6vh;
  width: 5vh;
}